/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans  &kp Q             &kp W               &kp E           &kp R    &kp T            &kp Y        &kp U    &kp I                &kp O                     &kp P                      &trans
&trans  &mt LEFT_SHIFT A  &lt 3 S             &lt 1 D         &lt 1 F  &kp G            &kp H        &lt 2 J  &lt 1 K              &lt 4 L                   &mt RIGHT_SHIFT SEMICOLON  &trans
&trans  &kp Z             &mt LEFT_CONTROL X  &mt LEFT_ALT C  &kp V    &kp B            &kp N        &kp M    &mt RIGHT_ALT COMMA  &mt RIGHT_CONTROL PERIOD  &kp FSLH                   &trans
                                              &trans          &trans   &kp BACKSPACE    &lt 5 SPACE  &trans   &trans
            >;
        };

        mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        navigation {
            bindings = <
&trans  &trans    &trans  &trans    &trans     &trans    &trans  &trans    &trans  &trans         &trans             &trans
&trans  &kp LEFT  &kp UP  &kp DOWN  &kp RIGHT  &trans    &trans  &kp LGUI  &none   &kp LA(LCTRL)  &kp LC(LA(LSHFT))  &trans
&trans  &trans    &trans  &trans    &trans     &trans    &trans  &trans    &trans  &trans         &trans             &trans
                          &trans    &trans     &trans    &trans  &trans    &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans     &trans        &trans    &trans  &trans    &trans    &kp UNDER  &kp PIPE   &kp SQT            &kp SEMI    &trans
&trans  &kp LCTRL  &kp ASTERISK  &kp AMPS  &none   &trans    &kp HASH  &kp TILDE  &kp SLASH  &kp DOUBLE_QUOTES  &kp DOLLAR  &trans
&trans  &trans     &trans        &trans    &trans  &trans    &trans    &trans     &trans     &trans             &trans      &trans
                                 &trans    &trans  &trans    &trans    &trans     &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        function_keys {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        numbers {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
